<div id="<%= dom_id league %>">
  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= league.season %>
  </p>

  <p>
    <strong>Match Participants:</strong>
    <%= league.match_participants %>
  </p>

  <p>
    <strong>Participants Type:</strong>
    <%= league.participant_type %>
  </p>

</div>
