<div class="container px-1">
  <%= render 'new_match_heading' %>
  <%= turbo_frame_tag Match.new %>
  <%= render partial: 'league_table', locals: { league_table_close_button: @league_table_close_button } %>
  <%= render 'matches/matches_table' %>
  <%= render 'manage_access_forms' %>
</div>