<%#= turbo_frame_tag @league do %>
<%= turbo_frame_tag @frame_id do %>
<div id="league-table" class="canvas gray100-canvas embossed my-2">
  <div class="fst-italic ps-2"><%= "#{@league.full_name}" %></div>
  <div class="admin-table mt-2 mb-4">
      <div class="row">
        <div class="column col-1x">Name</div>
        <div class="column col-1x">Matches</div>
        <div class="column col-1x">Score</div>
        <div class="column col-1x">Average Score</div>
        <div class="column col-1x">Position</div>
      </div>
    <% @participants.each_with_index do |participant, index| %>
      <div class="row">
        <div class="column col-1x"><%= link_to participant.full_name, participant, class: 'buttonlike', data: {turbo: false} %></div>
        <div class="column col-1x"><%= participant.matches_played %></div>
        <div class="column col-1x"><%= participant.total_score %></div>
        <div class="column col-1x"><%= participant.average_score.round(2) %></div>
        <div class="column col-1x"><%= index + 1 %></div>
      </div>
    <% end %>
    <% if @show_cancel %>
      <div class="cancel">
        <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
      </div>
    <% end %>
  </div>
<% end %>
