<%= form_with(model: match, class: 'admin_form pt-4 my-2',
              data: { controller: "match-form",
                      match_form_players_value: @players.map { |p| { id: p.id, name: p.full_name } }.to_json
                    }) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.date_field :date, value: @date %>
  </div>

  <div class="field">
    <select name="match[league_id]" id="match_league_id" data-action="change->match-form#updateFields">
      <option value="">Select a League</option>
      <% @leagues.each do |league| %>
        <%= tag.option league.name, value: league.id, data: { participants_per_match: league.participants_per_match } %>
      <% end %>
    </select>
  </div>

  <div data-match-form-target="participants"></div>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>

  <% if match.new_record? %>
    <div class='cancel' data-controller="form-cancel"><%= link_to 'X', '#', data: { action: 'form-cancel#cancel' } %> </div>  
  <% else %>
    <div class='cancel'><%= link_to 'X', matches_path %> </div>  
  <% end %>  
<% end %>
