<%= form_with(model: match, class: 'admin_form pt-4 my-2') do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :league_id, style: "display: block" %>
    <%#= form.text_field :league_id %>
    <%= form.select :league_id, @league_options %>
  </div>

  <div class="field">
    <%= form.label :participant1, style: "display: block" %>
    <%= select_tag 'match[participants][]',
                   options_from_collection_for_select(@players, :id, :full_name),
                   id: 'participant1' %>    
  </div>

  <div class="field">
    <%= form.label :score1, style: "display: block" %>
    <%= text_field_tag 'match[scores][]', id: 'score1' %>
  </div>

  <div class="field">
    <%= form.label :participant2, style: "display: block" %>
    <%= select_tag 'match[participants][]',
                   options_from_collection_for_select(@players, :id, :full_name),
                   id: 'participant2' %>   
  </div>

  <div class="field">
    <%= form.label :score2, style: "display: block" %>
    <%= text_field_tag 'match[scores][]', id: 'score2' %>
  </div>

  <div class="field">
    <%= form.label :participant3, style: "display: block" %>
    <%= select_tag 'match[participants][]',
                   options_from_collection_for_select(@players, :id, :full_name),
                   id: 'participant3' %>   
  </div>

  <div class="field">
    <%= form.label :score3, style: "display: block" %>
    <%= text_field_tag 'match[scores][]', id: 'score3' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>

  <% if match.new_record? %>
    <div class='cancel' data-controller="form-cancel"><%= link_to 'X', '#', data: { action: 'form-cancel#cancel' } %> </div>  
  <% else %>
    <div class='cancel'><%= link_to 'X', matches_path %> </div>  
  <% end %>  
<% end %>
