<%= form_with(model: match, class: 'admin_form pt-4 my-1') do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "#{ @match.new_record? ? 'Add' : 'Edit' } Match #{@match.number}" %>
  </div>

  <%= form.hidden_field :league_id, value: @league.id %>

  <div class="field">
    <%= form.date_field :date, value: @date %>
  </div>

  <%= form.fields_for :participations do |participation_field| %>
   <% index = participation_field.index %>
    <div class="d-flex flex-row mb-0">
      <%= participation_field.select :participatable_id,
        options_from_collection_for_select(@players, :id, :full_name, participation_field.object.participatable_id.presence || @players[index]&.id) %>
      <%= participation_field.number_field :score, min: -9999, max: 9999, step: 0.1, class: 'ms-1' %>
    </div>
  <% end %>

  <div class="actions mt-2">
    <%= form.submit %>
  </div>

  <% if match.new_record? %>
    <div class='cancel' data-controller="form-cancel"><%= link_to 'X', '#', data: { action: 'form-cancel#cancel' } %> </div>  
  <% else %>
    <div class='cancel'><%= link_to 'X', matches_path %> </div>  
  <% end %>  
<% end %>
