<div id="matches-table" class="canvas gray100-canvas embossed mt-1 mb-2">
  <div class="match-league-data container px-0 mb-5">
    <div class="container px-0 mb-5">
      <div class="admin-table mt-2">
        <div class="row fw-bolder">
          <div class="column col-1x">Match</div>
          <div class="column col-2x">Date</div>
          <div class="column col-2x">Winner</div>
          <div class="column col-2x">Winning Score</div>
          <div class="column"></div>
          <div class="column nomobile"></div>
        </div>
      </div>
      <div class="admin-table">
        <% matches_size = @matches.size %>
        <% @matches.each_with_index do |match, index| %>
          <%= turbo_frame_tag match do %>
            <div class="row">
              <div class="column col-1x"><%= matches_size - index %></div>
              <div class="column col-2x"><%= match.date.strftime '%d %b %Y' %></div>
              <div class="column col-2x"><%= match.top_participations[:winner] %></div>
              <div class="column col-2x"><%= match.top_participations[:winning_score] %></div>
              <div class="column"><%= link_to match_path(match) do %>
                                                <i class="bi bi-clipboard"></i>
                                              <% end %>
              </div>
              <div class="column nomobile"><%= link_to edit_match_path(match) do %>
                                                        <i class="bi bi-pencil-fill"></i>
                                                      <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


