<%= turbo_frame_tag @match do %>
<div id="match-table" class="canvas gray100-canvas embossed my-2">
  <div class="fst-italic ps-2"><%= "#{@match.league.full_name}, #{@match.date.strftime('%d %b %y')}" %></div>
  <div class="admin-table mt-2 mb-4">
      <div class="row">
        <div class="column col-1x">Name</div>
        <div class="column col-1x">Score</div>
        <div class="column col-1x">Position</div>
      </div>
    <% @participations.each_with_index do |participation, index| %>
      <div class="row">
        <div class="column col-1x"><%= link_to participation.participatable.full_name, participation.participatable, class: 'buttonlike', data: {turbo: false} %></div>
        <div class="column col-1x"><%= participation.score %></div>
        <div class="column col-1x"><%= index + 1 %></div>
      </div>
    <% end %>
    <div class="cancel">
      <%= link_to image_tag('delete.png', class: "table_icon"), matches_path %>
    </div>
  </div>
<% end %>

